* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
    background-color: #fdf6e3;
    color: #264653;
}

.navbar {
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #e9c46a;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #264653;
}
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-links li a {
    text-decoration: none;
    color: #264653;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #F4A261;

}
.lang-switch {
    font-weight: 600;
    cursor: pointer;

}

.hero-section {
    height: 100vh;
    background-image: url(https://uzbekistan.travel/storage/app/media/Rasmlar/Navoiy/cropped-images/40jpg-0-0-0-0-1738154749.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
    color: #fff;
    position: relative;
}

.hero-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(38,70,83,0.5);
}

.hero-content {
    position: relative;
    z-index: 1;

}

.hero-content h1{
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 700;

}

.hero-content p{
    font-size: 20px;
    margin-bottom: 30px;

}
.cta-button {
    padding: 15px 30px;
    background-color: #F4A261;
    color: #264653;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: inline-block;

}

.cta-button:hover {
    background-color: #e2944f;
}